@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { font-family: Poppins; src: url('./assets/Poppins-Regular.otf'); }

body {
  font-family: Poppins, sans-serif;
}
.active {
  background-color: #EBF3FF;
  border-color: #286ADD;
  color: #286ADD;
  padding-right: 24px;
  padding-left: 16px;
}

/* create styles comand */
/* npx tailwindcss build styles.css -o css/styles.css */